<nav>
    <div class="header-outer">
        <div class="logo">
            <p>&#10084; DilSeQuotes</p>
        </div>
        <div class="button-container">

            <button class="btn-h">
                <a href="http://localhost:8080/posts">HOME</a>
            </button>
            <button class="btn-h">
                <a href="http://localhost:8080/posts/new">Submit Quote</a>
            </button>
            <button class="btn-h">
                <a href="http://localhost:8080/posts/contact">Contact Us</a>
            </button>
        </div>

    </div>
</nav>