<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes Page</title>
    <link rel="stylesheet" href="/style.css">

    <!-- Font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap"
        rel="stylesheet">
</head>

<body>
    <%- include("includes/head.ejs") %>


        <main style="display: flex; justify-content: center; align-items: center; min-height: calc(100vh - 200px);">
                <div class="card" style="max-width: 600px; width: 100%;">

                    <h3 class="username"><%= post.username %></h3>
                    <p class="description" style="font-size: 1.2rem; line-height: 2;">
                        "<%= post.shayri %>"
                    </p>
                    <div class="card-buttons">
                        <button class="btn edit" style="width: 100%;"><a href="/posts">← Back to All Quotes</a></button>
                    </div>

                </div>

        </main>


        <!-- //footer comes here -->
        <%- include("includes/footer.ejs") %>
</body>

</html>